node_modules
npm-debug.log*
.yarn*
.pnpm*
dist
build
.next
.env
.env.local
.env.*.local
!.env.example
!/packages/**/.env.example
.DS_Store
coverage
prisma/db.sqlite
**/.turbo
.idea
.vscode
packages/backend/prisma/generated
packages/backend/dist
packages/frontend/.next
packages/frontend/out
packages/frontend/node_modules
packages/backend/node_modules
